<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/change-password.css">
</head>

<body>
  <table width="350" border="0" align="center" cellpadding="4" cellspacing="0">
    <form name="resetForm" action="api/reset" method="POST" onsubmit="return validateForm()" \>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="pageTitle">Change Your Password</td>
      </tr>
      <tr>
        <td colspan=2>
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="row0">Employee Name:</td>
        <td colspan="1" class="row0"> <%= username %></td>
      </tr>

      <tr>
        <td colspan="1" class="row1">Enter Old password</td>
        <td colspan="1" class="row1"><input type=password name=oldpassword id=oldpassword></td>
      </tr>

      <tr>
        <td colspan="1" class="row1">Enter new password</td>
        <td colspan="1" class="row1"><input type=password name=newpassword id=newpassword></td>
      </tr>

      <tr>
        <td colspan="1" class="row1">Re-Enter new password</td>
        <td colspan="1" class="row1"><input type=password name=newpassword2 id=newpassword2></td>
      </tr>
      <tr>
        <td class="error">&nbsp;</td>
      </tr>

      <tr>
        <td colspan=2 class="row1" align="center"><input type="submit" class="button" name="changePwdBttn"
            value="Change Password" /></td>
      </tr>
      <tr>
        <td colspan=2>
          <hr>
        </td>
      </tr>
      <td colspan=1 class="row1"></a></td>
    </form>
  </table>
</body>
<script>
  function validateForm() {
    let oldpass = document.forms["resetForm"]["oldpassword"].value;
    let newpass = document.forms["resetForm"]["newpassword"].value;
    let newpass2 = document.forms["resetForm"]["newpassword2"].value;
    if (oldpass == "" | newpass == "" | newpass2 == "") {
      alert("fields must be filled out");
      return false;
    } else if (newpass != newpass2) {
      alert("password doesn't match!");
      return false;
    } else if (oldpass != "" & newpass === newpass2) {
      return true;
    } else{ 

    return false;
}
  }
</script>

</html>