body {
    background-color: #F8F7F3;
    background-image: url("images/simpleTitle.bmp");
    background-repeat: no-repeat;
}

.page {
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana;
    font-size: 10pt;
    background-image: url("images/simpleTitle.bmp");
}

.pageTitle {
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana;
    font-size: 11pt;
    color: #636363;
}

.row0 {
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana;
    font-size: 10pt;
    color: #9C8E2E;
}

.row1 {
    font-family: "Trebuchet MS", Verdana;
    font-size: 9pt;
    color: #D4B706;
    font-weight: bold;
}

.select {
    font-family: "Trebuchet MS", Verdana;
    font-size: 10pt;
    color: #000000;
}

.error {
    font-family: "Trebuchet MS", Verdana;
    font-size: 9pt;
    color: #800000;
}

.button {
    font-family: "Trebuchet MS", Verdana;
    font-size: 8pt;
    background-color: #8BA143;
    color: #FFFFFF;
    font-weight: bold;
}